<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>jchat</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <h3>
	<a href="/">Home</a>
	<% if (typeof(user.username) != "undefined") { %>
	<a href="/profile"><%= user.username %></a>
	<a href="/logout">logout</a>
	<% } %>
      </h3>
    </div>
    <hr>
