<%- include _header.ejs %>

    <div id="usersDiv">
      <h3>Users</h3>
      <ul id="usersList"></ul>
    </div>
    
    <hr>
    
    <div id="messagesDiv">
      <h3>Messages</h3>
      <ul id="messagesList"></ul>
      <input id="messagesInput" placeholder="Type message..." maxlength="256" />
    </div>

<%- include _footer.ejs %>
